
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


.banner {
    position: relative;
    padding: 3.75rem 0;
    margin-bottom: 0.875rem;
    border-radius: 0.5rem;
    
    .banner-wrap {
        padding-left: 4.375rem;
        padding-right: 4.375rem;
    }
}
