/* ----------------------------------------------------------------

	Contact.scss

-----------------------------------------------------------------*/
#contact {
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-top: 2.875rem;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;

	input {
		font-family: $body-font;
		font-size:0.75rem;
		border-color: #ebebeb;
	}

	::placeholder {
		color: #7f7f7f;
	}

	button {
		font-family: $body-font;
		font-size: 0.75rem;
		padding: 0.875rem;
	}

	p {
		font-size: 0.875rem;
		font-weight: 400;
		color: #9f9f9f;
	}
}

#contact-info {
	position: absolute;
	top: 2rem;
	left: 2rem;
	padding: 3rem;
	border-radius: 0.5rem;

	h5 {
		font-size: 1.25rem;
	}

	@include media-breakpoint-down(lg) {
		position: relative;
		left: 0;
	}
}