
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/
#contact {
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-top: 2.875rem;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}

#contact-info {
	padding: 3rem;
	border-radius: 0.5rem;

	h5 {
		font-size: 1.25rem;
	}

	@include media-breakpoint-up(lg) {
		position: absolute;
		top: 2rem;
		left: 2rem;
	}
}