
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;

	.title {
		color: #02b806;
		line-height: 5.5rem;
		font-weight: 300;
		line-height: 1;
	}

	p {
		line-height: 1.5;
		color: #333333;
	}

	a {
		font-size: 0.75rem;
		padding: 0.85rem 1.5rem;
	}
}

.breadcrumb {
	ul {
		li {
			a {
				font-weight: 500;
				font-size: 0.75rem;
				color: #848484;
				font-family: $heading-font;
				text-decoration: none;
				text-transform: uppercase;

				&.active {
					color: $theme-color;
				}
			}

			i {
				color: #848484;
			}
		}
	}
}