
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 2.25rem; 
	position: relative;

	.title {
		color: $dark;
		font-weight: 400;
	}

	.attach-link {
		font-size: 1rem;
		color:$theme-color;
		text-decoration: none;
		font-family: $heading-font;

		&.btn {
			font-size: 0.75rem;
			padding: 0.85rem 1.35rem;
		}

		&:hover {
			color: $theme-color;
		}

		i {
			font-size: 0.9rem;
			margin-left: 0.5rem;
		}
	}
}